.topright {
    position: absolute;
    font-size: 18px;
    top: 239px;
    right: 340px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f5f1f1;
    padding: 5px 5px;
  }
  .t-label {
    font-size: 15px;
    color: blue;
  }
  .t-rating {
    font-size: 15px; 
  }
  .t-line{
    border: 2px solid red;
    margin: 10px 0px 10px 0px;
  }
  .t-date{
    font-size: 15px;
    text-align: center;
    color: #6a6ae9;
  }