
<ngb-toast [autohide]="false" class="topright">
   <div class="t-label">{{label}}</div>
   <div class="t-rating">{{rating}}</div>
   <div class="t-line"></div>
   <div class="t-date">DATE OF EXPERIENCE: {{today | date:"yyyy/dd/MM" }}</div>
  </ngb-toast>
