<app-customer-form></app-customer-form>
<!-- <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
	<div class="primary-container">
    <input  placeholder="First Name" value="" formControlName="firstName">
    <input  placeholder="Last Name" value="" formControlName="lastName">
	</div>
	<div class="address-container" *ngFor="let group of addressArray.controls; let i = index;" formArrayName="address">
		<div [formGroupName]='i'>
			<input  placeholder="Street" value="" formControlName="street"> 
      <input  placeholder="City" value="" formControlName="city">
      <input  placeholder="State" value="" formControlName="state">
    </div>
  </div>
  <div class="form-row org-desc-parent-margin">
    <button  (click)="addAddress()">Add more address</button>
  </div>
</form> -->
<router-outlet></router-outlet>
