<ngb-toast [autohide]="true" [delay]="2000"class="topright t-label-success" *ngIf="label== 'success'">
    <div class="t-label">Submitted Succesfully</div>
</ngb-toast>
<ngb-toast [autohide]="true" [delay]="2000"class="topright t-label-danger" *ngIf="label !== 'success'">
    <div class="t-label">Fill the required feild with validation</div>
</ngb-toast>