.topright {
    position: absolute;
    font-size: 18px;
    top: 8px;
    right: 8px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f5f1f1;
    padding: 5px 5px;
  }
  .t-label-success{
    background-color: green;
    color: white;
  }
  .t-label-danger {
    background-color: red;
    color: white;
  }