<div class="container-contact100" *ngIf="customer.questions">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form form-horizontal" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <span class="contact100-form-title">Customer Form</span>
      <div class="form-area">
        <div class="form-label-number">1.</div>
        <div class="form-label">{{ getLabel('rating')}}<span class="form-require">(required)</span></div>
        <div class="form-group">
          <div class="age-bar">
            <div class="rating-box" *ngFor="let nak of rating_numbers" (click)="changeRating(nak)"
              [class.rating-box-active]="nak === selectedRating">{{nak}}</div>
          </div>
          <app-feild-error-display [displayError]="isFieldValid('rating')" errorMsg="Please Select Rating">
          </app-feild-error-display>
        </div>
      </div>
      <!-- <div class="form-group" *ngIf="isShow.rating">
        <textarea class="form-control" [placeholder]="comment_place_holder.rating" id="exampleFormControlTextarea1"
          rows="1" cols="30" formControlName="rating_comment"></textarea>
      </div> -->
      <div *ngIf="isShow.rating">
        <div class="address-container" *ngFor="let group of ratingArray.controls; let i = index;" formArrayName="rating_sub">
          <div [formGroupName]='i'>
            <input  [placeholder]="getSubQuestion('rating')[i].label" value="" formControlName="label"> 
          </div>
        </div>
      </div>
      <div class="form-area">
        <div class="form-label-number">2.</div>
        <div class="form-label">{{ getLabel('age')}}</div>
        <div class="form-group">
          <div class="age-bar">
            <div class="age-box" *ngFor="let age of customer.ages" (click)="changeAge(age.name)"
              [class.age-box-active]="age.name === selectedAge">{{age.name}}</div>
          </div>
          <app-feild-error-display [displayError]="isFieldValid('age')" errorMsg="Please Select age">
          </app-feild-error-display>
        </div>
      </div>
      <div *ngIf="isShow.age">
        <div class="address-container" *ngFor="let group of ageArray.controls; let i = index;" formArrayName="age_sub">
          <div [formGroupName]='i'>
            <input [placeholder]="getSubQuestion('age')[i].label" value="" formControlName="label">
          </div>
        </div>
      </div>

      <!-- <div class="form-group" *ngIf="isShow.age">
                <textarea class="form-control" [placeholder]="comment_place_holder.age" id="exampleFormControlTextarea1" rows="1" cols="30" formControlName="age_comment"></textarea>
              </div> -->
      <div class="form-area">
        <div class="form-label-number">3.</div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">{{ getLabel('password')}}</label>
          <input class="form-control" [class.is-invalid]="isFieldValid('password')"
            (keyup)="checkFeildValidity($event,'password')" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="password">
          <app-feild-error-display [displayError]="isFieldValid('password')"
            errorMsg="Please enter valid  password which contain atleast one lower case and one Number">
          </app-feild-error-display>
        </div>
      </div>
      <div *ngIf="isShow.password">
        <div class="address-container" *ngFor="let group of passwordArray.controls; let i = index;" formArrayName="password_sub">
          <div [formGroupName]='i'>
            <input [placeholder]="getSubQuestion('password')[i].label"  value="" formControlName="label">
          </div>
        </div>
      </div>
      <!-- <div class="form-group" *ngIf="isShow.password">
        <textarea class="form-control" [placeholder]="comment_place_holder.password" id="exampleFormControlTextarea1"
          rows="1" cols="30" formControlName="password_comment"></textarea>
      </div> -->
      <div class="form-area">
        <div class="form-label-number">4.</div>
        <div class="form-group has-error">
          <label for="exampleInputPassword1" class="form-label">{{getLabel('email')}}</label>
          <input class="form-control" [class.is-invalid]="isFieldValid('email')"
            (keyup)="checkFeildValidity($event,'email')" id="exampleInputPassword1" formControlName="email">
          <app-feild-error-display [displayError]="isFieldValid('email')" errorMsg="Please enter valid email address">
          </app-feild-error-display>
        </div>
      </div>
      <!-- <div class="form-group" *ngIf="isShow.email">
        <textarea class="form-control" [placeholder]="comment_place_holder.email" id="exampleFormControlTextarea1"
          rows="1" cols="30" formControlName="email_comment"></textarea>
      </div> -->
      <div *ngIf="isShow.email">
        <div class="address-container" *ngFor="let group of emailArray.controls; let i = index;" formArrayName="email_sub">
          <div [formGroupName]='i'>
            <input [placeholder]="getSubQuestion('email')[i].label"  value="" formControlName="label">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary form-bottom">Submit</button>
    </form>
    <template #dynamicLoadComponent></template>
  </div>
</div>