.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
}
.wrap-contact100 {
    width: 920px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 150px 90px 55px;
}
.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact100-form-title {
    display: block;
    width: 100%;
    font-family: Montserrat-Black;
    font-size: 39px;
    color: blue;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 59px;
}
.form-label {
    color: blue; 
    margin-bottom: 15px; 
}
.form-label-number{
    color: blue;  
}
.form-require{
    color: #c1bbbb;
}
.form-area{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.form-bottom {
    margin-left: 325px;
}
.age-bar {
    width: 100%;
    overflow: hidden;
    display: block;

}
.age-box {
    padding: 10px 23px 10px 23px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    border: 1px solid;
    font-size: 18px;
    border-right: none;
    cursor: pointer;
}
.age-box-active {
    background-color: blue;
    color: cornsilk;
}

  .age-box:last-child {
    border-right: 1px solid; 
  }
  
.age-box:hover {
    background-color: blue;
    color: cornsilk;
}
.rating-box {
    padding: 15px 23px 15px 23px;
    margin-right: 15px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    border: 1px solid;
    font-size: 18px;
    border-radius: 100%;
    background-color: #daecf7;
    border-color: blue;
    cursor: pointer;
}
.rating-box-active{
    background-color: blue;
}
